* {
    font-family: "Lato";
    color: #fff;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

#root, .main-container {
    height: 100%;
}

.links-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s 0s ease-in-out;
}
.links-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.links-container .link {
    text-decoration: none;
    font-weight: bold;
    color: #6c757d;
    margin-bottom: 15px;
    font-size: 22px;
    text-transform: uppercase;
    /* text-shadow: 0px 0px #000; */
}

.link.active {
    color: #ff5722;
}

.menu-toggle-button {
    position: absolute;
    top: 25px;
    left: 25px;
    background: none;
    padding: 5px;
    border: none;
    outline: none !important;
    width: 45px;
    height: 40px;
    text-align: center;
    z-index: 1;
}

.menu-toggle-button span {
    position: relative;
    display: block;
    border: 1px solid #00BCD4;
    margin-bottom: 8px;
    transition: all 0.2s 0s ease-in-out;
}

.menu-toggle-button span:nth-child(2) {
    width: 80%;
}

.menu-toggle-button span:nth-child(1) {
    width: 40%;
}

/* .menu-toggle-button.active + .links-container{
    visibility: visible;
    height: auto;
    transition: all 0.2s 0s ease-in-out;
} */

.menu-toggle-button.active > span:nth-child(1) {
    border-color: #e91e63;
    transform: rotate(45deg);
    width: 80%;
    transition: all 0.2s 0s ease-in-out;
}

.menu-toggle-button.active > span:nth-child(2) {
    border-color: transparent;
}

.menu-toggle-button.active > span:nth-child(3) {
    border-color: #e91e63;
    transform: rotate(-45deg);
    margin-top: -19.5px;
    transition: all 0.2s 0s ease-in-out;
}

.main-wrapper {
    /* margin-top: 80px; */
    margin: auto;
    background: #000;
    height: 100%;
}

.profile-view {
    height: 100%;    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.image-cont {
    height: 200px;
    width: 200px;
    border: 5px dashed #ccc;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 30px;
}

.profile-img {
    height: 100%;
    width: 100%;
    border: 5px solid transparent;
    border-radius: 100%;
}

.profile-cont {
    height: 200px;
    padding-left: 30px;
    border-left: 2px solid #fff;
}

.profile-cont > span {
    display: block;
}

.profile-name {
    font-size: 2.8rem;
}

.profile-desig {
    font-size: 1.2rem;
    color: #e91e63;
    font-weight: 800;
}

.profile-selfnote {
    font-size: 12px;
}